<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/stylehome.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../../static/css/navbar.css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" href="../../static/css/stylehome.css" th:href="@{/css/stylehome.css}">
    <link rel="stylesheet" href="../../static/css/login.css" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="../../static/css/global.css" th:href="@{/css/global.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <title>Home | Spartan Esports</title>
    <link rel="icon" href="../static/images/uncg-esports-dr-sh-800.jpg" th:href="@{/images/uncg-esports-dr-sh-800.jpg}">
</head>
<body>
<div class="topnav">
    <a class="active" data-th-href="@{/home}">Home</a>
    <a data-th-href="@{/calendar/list}">Events</a>
    <a data-th-href="@{/calendar/listc}">Calendar</a>
    <a data-th-href="@{/discussion/home}">Discussion</a>
    <a data-th-href="@{/games/all}">View Teams</a>
    <a data-th-href="@{/coach/all}">Coaches</a>
    <a data-th-href="@{/admin/all}">Admin Settings</a>
    <a data-th-href="@{/login}"> Login </a>
    <a data-th-href="@{/profile/user}">Profile</a>
</div>

    <br>
    <br>
    <h1>Spartan Esports</h1>

    <img src="../static/images/uncg-esports-dr-sh-800.jpg" alt="UNCG Esports Logo" width="800">



    <h2>Spartan Esports is a website that tracks esports events that take place at UNCG. <br>
    </h2>

    <div class="Section1">
        <a href="@{/login}"><img src="${images/login.png}" alt="Log in Icon" width="300"></a>
        <h3>Do you have an account? <br>
        Login/Sign up here.</h3>
    </div>

    <div class="Section1">
        <a data-th-href="@{/calendar/list}"><img src="../static/images/678116-calendar-512.jpg" alt="Calendar picture" width="300"></a>
        <h3>Track events at the Events Page. <br> 
        You can view a list of events on this page.</h3>
    </div>

    <div class="Section1">
        <a data-th-href="@{/calendar/list}"><img src="../static/images/678116-calendar-512.jpg" alt="Calendar picture" width="300"></a>
        <h3>Mark an event on your Calendar. <br>
        You can mark a date on the calendar for events you are interested in.</h3>
    </div>

    <div class="Section1">
        <a data-th-href="@{/discussion/home}"><img src="../static/images/group-discussion.512x487.png" alt="Discussion picture" width="300"></a>
        <h3>Discuss events at the Discussion Page. <br>
        You can post comments, ask questions, and share your thoughts with other users.</h3>
    </div>

    <div class="Section1">
        <a data-th-href="@{/games/all}"><img src="../static/images/team-28-256.png" alt="Team picture" width="300"></a>
        <h3>View a list of teams at the Teams Page. <br>
        You can see the team names, team logos, and team members.</h3>
    </div>

    <div class="Section1">
        <a data-th-href="@{/coach/all}"><img src="../static/images/coach-instructor-icon.png" alt="Coach picture" width="300"></a>
        <h3>View a list of coaches at the Coaches Page. <br>
        You can see the coach names, coach logos, and coach information.</h3>
    </div>



    <script src="../static/script/validation.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>
</html>