<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/stylehome.css">
  <title>View Coaches</title>
  <link rel="icon" href="images/uncg-esports-dr-sh-800.jpg">
</head>
<body>

<div class="topnav">
  <a data-th-href="@{/home}">Home</a>
  <a data-th-href="@{/calendar/list}">Events</a>
  <a data-th-href="@{/calendar/listc}"></a>
  <a data-th-href="@{/posts/all}">Discussion</a>
  <a data-th-href="@{/games/all}">View Teams</a>
  <a data-th-href="@{/coach/all}">Coaches</a>
  <a class="active" data-th-href="@{/admin/all}">Admin Settings</a>
  <a data-th-href="@{/users/login}"> Login </a>
  <a data-th-href="@{/profile/user}">Profile</a>
</div>

<a data-th-href="@{/admin/all}" class="return">
  <span>Return</span>
</a>

<br>
<br>
<br>

<h1>View Student</h1>


<table class="center" style="width:50%">
  <tr>
    <th>User ID</th>
    <th>Student Name</th>
    <th>Status</th>
    <th>Approve</th>
    <th>Decline</th>
  </tr>
  <tr data-th-each="user : ${approvalList}">
    <td data-th-text="${user.userId}"></td>
    <td data-th-text="${user.name}"></td>
    <td data-th-text="${user.status}"></td>x`
    <td>
      <form action="users/approve" method="post">
        <button type="submit">Approve</button>
        <input type="hidden" id="submitId" name="userId" data-th-value="${user.userId}">
      </form>
    </td>
    <td>
      <form action="/users/decline" method="post">
        <button type="submit">Decline</button>
        <input type="hidden" id="declineId" name="userId" data-th-value="${user.userId}">
      </form>
    </td>
  </tr>
</table>
</body>
</html>