<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylehome.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>View Teams | Spartan Esports</title>
    <link rel="icon" href="images/uncg-esports-dr-sh-800.jpg">
</head>
<body>

<div class="topnav">
    <a data-th-href="@{/home}">Home</a>
    <a data-th-href="@{/calendar/list}">Events</a>
    <a data-th-href="@{/discussion/home}">Discussion</a>
    <a data-th-href="@{/games/all}">View Teams</a>
    <a data-th-href="@{/coach/all}">Coaches</a>
    <a class="active" data-th-href="@{/admin/all}">Admin Settings</a>
    <a data-th-href="@{/login}"> Login </a>
    <a data-th-href="@{/profile/user}">Profile</a>
</div>
    
    <a data-th-href="@{/admin/all}" class="return">
        <span>Return</span>
    </a>

    <br>
    <br>
    <br>
    
    <h1>View Teams</h1>
<br>
<a data-th-href="@{/teams/createForm}">
    <button>Make New Team</button>
</a>

    <table class="center" style="width:50%">
        <tr>
            <th>Team Name</th>
            <th>Game played</th>
            <th>View Team</th>
        </tr>
        <tr data-th-each="team : ${teamList}">
            <td data-th-text="${team.name}"></td>
            <td data-th-text="${team.game}"></td>
            <td><a href="@{/teams/{id} (id=${team.teamId})}"><button>View Team</button></a></td>
        </tr>
    </table>


</body>
</html>