<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/stylehome.css">
    <title>New Team | Spartan Esports</title>
    <link rel="icon" href="images/uncg-esports-dr-sh-800.jpg">
</head>
<body>

<div class="topnav">
  <a href="homepage.html">Home</a>
  <a href="calendar.html">Events</a>
  <a href="discussion_hub.html">Discussion</a>
  <a href="teams.html">View Teams</a>
  <a href="coach_hub.html">Coaches</a>
  <a class="active" href="adminsettings.html">Admin Settings</a>
  <a href="login_register.html"> Login </a>
  <a href="profile.html">Profile</a>
</div>

<br>
<br>

<h1>New Team</h1>
<br><br>

<div class="Section1">
  <form action="/teams/new" method="post">
    Name:<input type="text" id="name" name="name" placeholder="Team Name">
    <br><br>

    Game:<input type="text" id="game" name="game" placeholder="Game">
    <br><br><br>

    <button type="submit">Save New Team</button>

  </form>
</div>

</body>
</html>