<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/stylehome.css">
    <title>View Coaches</title>
    <link rel="icon" href="images/uncg-esports-dr-sh-800.jpg">
</head>
<body>

<div class="topnav">
    <a data-th-href="@{/home}">Home</a>
    <a data-th-href="@{/calendar/list}">Events</a>
    <a data-th-href="@{/discussion/home}">Discussion</a>
    <a data-th-href="@{/games/all}">View Teams</a>
    <a data-th-href="@{/coach/all}">Coaches</a>
    <a class="active" data-th-href="@{/admin/all}">Admin Settings</a>
    <a data-th-href="@{/login}"> Login </a>
    <a data-th-href="@{/profile/user}">Profile</a>
</div>

    <a data-th-href="@{/admin/all}" class="return">
        <span>Return</span>
    </a>

    <br>
    <br>
    <br>

    <h1>View Coaches</h1>


    <table class="center" style="width:50%">
        <tr>
            <th>Coach ID</th>
            <th>Coach Name</th>
            <th>Game</th>
            <th>Rank</th>
            <th>Rating</th>
            <th>View Profile</th>
            <th>Delete/Edit</th>
        </tr>
        <tr data-th-each="coach : ${coachList}">
            <td data-th-text="${coach.coachId}"></td>
            <td data-th-text="${coach.name}"></td>
            <td data-th-text="${coach.game}"></td>
            <td data-th-text="${coach.rank}"></td>
            <td data-th-text="${coach.rating}"></td>
            <td><a href="#"><button>View Coach</button></a></td>
            <td>
                <a data-th-href="@{/coaches/update/{id} (id=${coach.coachId})}"><button>Edit</button></a>
                <a data-th-href="@{/coaches/delete/{id} (id=${coach.coachId})}"><button>Remove</button></a>
            </td>
        </tr>
    </table>

    <a data-th-href="@{/coaches/coachForm}"><button>New Coach</button></a>
</body>
</html>